name: Docker Image CI

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          no-cache: true
          tags: ${{ env.REGISTRY }}/vatger/event-manager:latest
          cache-from: type=registry,ref=${{ env.REGISTRY }}/vatger/event-manager:buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY }}/vatger/event-manager:buildcache,mode=max
          platforms: linux/amd64